{% extends 'app.html' %}
{% block content %}
        <!-- Main content -->
	<main class="main">
	<div class="container-fluid">
    	<div class="animated fadeIn">
			<div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-align-justify"></i> Class Table

                            <b class="pull-right">Date: {{ now|date }}</b>
                        </div>
                            {% if messages %}
                            <ul class="messages">
                                <div class="alert alert-success">
                                {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                                </div>
                            </ul>
                            {% endif %}
                        <div class="card-body">
                            <table class="table table-bordered table-striped table-sm">
                                <thead class="text-center">
                                    <tr>
                                        <th class="text-center">Topic Name</th>
                                        <th class="text-center">Course Name</th>
                                        <th class="text-center">Start Date</th>
                                        <th class="text-center">End Date</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for class in object_list %}
                                    <tr>
                                        <td class="text-center">{{ class.topic_name }}</td>
                                        <td class="text-center">{{ class.course_name }}</td>
                                        <td class="text-center">{{ class.start_date }}</td>
                                        <td class="text-center">{{ class.end_date }}</td>
                                        <td class="text-center">
                                            <a href="{% url 'course:update_class' class.id %}"><button type="button" class="btn btn-info">Edit</button></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--/.col-->
            </div>
            <!--/.row-->
        </div>

    </div>
    <!-- /.conainer-fluid -->
</main>
{% endblock %}
