<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
    <meta name="author" content="Łukasz Holeczek">
    <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js">
    <link rel="shortcut icon" href="{% static 'img/favicon.png' %}">
    <title>Student Management System</title>

    <!-- Icons -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet">

    <!-- Main styles for this application -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
        /*.navbar-brand{*/
            /*background-image: url("/static/img/logo.png");*/
        /*}*/
    </style>
</head>
<body class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">





    {% include 'layouts/header/header.html' %}
    <div class="app-body">
        {% include 'layouts/sidebars/sidebar.html' %}
        
        {% block content %}
        {% endblock %}
            
    </div>
     {% include 'layouts/footer/footer.html' %}







    <!-- Bootstrap and necessary plugins -->

    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/popper.js/index.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bower_components/pace/pace.min.js' %}"></script>


    <!-- Plugins and scripts required by all views -->
    <script src="{% static 'bower_components/chart.js/dist/Chart.min.js' %}"></script>


    <!-- GenesisUI main scripts -->

    <script src="{% static 'js/app.js' %}"></script>





    <!-- Plugins and scripts required by this views -->

    <!-- Custom scripts required by this view -->
    <script src="{% static 'js/views/main.js' %}"></script>

    {% block extra_footer%}
    {% endblock %}

</body>

</html>
